.search-select{
    .el-input-group__append{
        padding-left: 1px;
        padding-right: 4px;
    }

    width: 200px;

    .input-with-select input{
        height: 30px;
    }

}

.el-dropdown-menu .active-search-item{
    color: blue;
}


