
.sim-fields{

  .table-fields{
    margin: auto;
  }
  .field-label-td{
      padding-right: 1em; // 为了至少能放下 star
  }
  .field-label{
    min-width: 5em;
    text-align: left;
    word-break: break-all;

    .label-content{
        position: relative;

      .req_star{
          top:-0.3em;
          right: -0.6em;
      }

    }
  }

  .field-input{
    //width: 23em;
    text-align: left;
  }

  .submit-block{
      margin-top: 1em;
      text-align: left;

      button{
        min-width:10em;
        padding-left:2em;
        padding-right: 2em;
      }
  }
}

.sim-fields.no-label{
    .field-label-td{
      display: none;
    }
    .field-input{
      width: 100%;
      text-align: left;
    }
    .table-fields{
      width: 100%;
    }
    .submit-block{
      margin-top: 1em;
      text-align: left;

      button{
        width: 100%;
      }
    }
}

.sim-fields.field-panel.pop{
    padding-top: 8px;

    .field-input{
        width: 20em;
    }

  .submit-block{
    margin-top: 10px;
    button{
        min-width: 8em;
    }
  }
}

.sim-fields.field-panel.mb{
  padding:1em;

  .field-label{
    min-width: 5em;
    text-align: right;
  }

  .field-input{
    width: auto;
  }

  .submit-block{
    margin-top: 10px;
    button{
      width: 100%;
    }
  }
}




