
.sim-fields{

  .table-fields{
    width: 100%;
  }
  .field-label-td{
      padding-right: 1em; // 为了至少能放下 star
      padding-bottom: 1em;
      text-align: left;
  }
  .field-input-td{
      padding-bottom: 1em;
  }
  .field-label{
    text-align: left;

    .label-content{
      //min-width: 4em;
      max-width: 12rem;
        word-break: break-all;
        position: relative;
        display: inline-block;

      .req_star{
          top:-0.3em;
          right: -0.6em;
      }

    }
  }


  .field-input{
    //width: 23em;
    text-align: left;
    position: relative;
  }

  .help-text{
    position: relative;
    top:-2rem;
    right: auto;
  }
  .submit-block{
      margin-top: 1em;
      text-align: left;

      button{
        min-width:10em;
        padding-left:2em;
        padding-right: 2em;
      }
  }
}

.sim-fields.no-label{
    .field-label-td{
      display: none;
    }
    .field-input{
      width: 100%;
      text-align: left;
    }
    .table-fields{
      width: 100%;
    }
    .submit-block{
      margin-top: 1em;
      text-align: left;

      button{
        width: 100%;
      }
    }
}

.sim-fields.field-panel.pop{
    padding-top: 8px;

    .field-input{
        width: 20em;
    }

  .submit-block{
    margin-top: 10px;
    button{
        min-width: 8em;
    }
  }
}

.sim-fields.field-panel.mb{
  padding:1em;

  .field-label{
    min-width: 5em;
    text-align: right;
  }

  .field-input{
    width: auto;
  }

  .submit-block{
    margin-top: 10px;
    button{
      width: 100%;
    }
  }
}

//.sim-fields.mobile{
//  .help-text{
//    right:0;
//  }
//}





