.table-fields.field-panel{
    background-color: #FAFAFA;
    //margin: auto;
    padding: 5px 20px;
    position: relative;
    border: 1px solid #f6f6f6;

    td{
      padding: 8px 5px;
      position: relative;
      .field-label{
        text-align: right;
      }
    }
  .msg-box.n-right{
    bottom: 7px;
  }
  .req_star {
    top: 6px;
    right: 0;
    color:red;
  }
}
