.table-fields{
  td{
    &.field-label{
      padding-bottom: 1em;
      padding-right: 1em;
      text-align: right;
    }
  }
  .field-input{
    margin-bottom: 1em;
    position: relative;
  }
  .help-text{
    position: absolute;
    right: -1.2em;
    top:-0.2em;
  }
}