.com-li-article
  padding   20px
  border-bottom 1px solid #f8f8f8

  img
    width 140px
    height 110px

  .content
    margin-left 10px
    display inline-block
    vertical-align top
    .title
      font-size 20px
      font-weight 500
      text-decoration none
      color black
      &:hover
        color green

    .html
      color grey