.com-li-article-simple
  display flex
  padding 10px
  color grey
  font-size 90%

  img
    width 30px
    height 30px
  .content
    margin-left 10px
  .title
    color black
    &:hover
      color green