.el-table .success {
  background: #f0f9eb;
  &:hover{
  }
}
.el-table{
  .row-select{
      background: #fff0ef;
  }
}
.el-table--striped .el-table__body tr.el-table__row--striped.row-select td{
  background: #fff0ef ;
}

//.el-table--striped .el-table__body tr.success.el-table__row--striped >td{
//  background: #f0f9eb;
//}

.el-table__fixed{
  /*由于element.table的bug造成固定列覆盖层 覆盖了滚动条，造成无法滚动。所以去掉覆盖层的事件获取能力，再加上内部元素的事件获取能力*/
  pointer-events: none;
  *{
    pointer-events:auto;
  }
}

