.com-table-layout-picture-grid
  background-color #e7e7e7
  position relative
  height 100%
  .item
    display inline-block
    background-color white
    margin 20px
    vertical-align top
    padding 10px

  .main-img
    position relative
    width 180px
    height 220px
    background-size cover
    text-align center
    padding 10px
    img
      max-height 100%
      max-width 100%