.mint-indicator
  .mint-indicator-wrapper
    z-index 90000
  .mint-indicator-mask
    z-index 90000

.mint-toast
  z-index 9999999

[v-cloak] { display: none }

.van-image-preview__overlay
  z-index 9000 !important
.van-image-preview
  z-index 9010 !important

html
  height 100%
body
  height 100%

:root {
  --app-height: 100%;
}
.hide
  display none

ol
  padding-left: .3rem
  li
    list-style-type:decimal;
    list-style-position:inside;
