.mobile-list-page
  .page-title
    height .8rem
    text-align center
    vertical-align middle
    line-height .7rem
    background-color #00a7d0
    color white
  .cube-scroll-wrapper
    height calc(100vh - .8rem )