.com-top-lay-main-small
  margin 10px
  min-height 500px
  .web-wrap
    display flex
  .main
    width 75%
    //background-color #ffffff
  .small
    margin-left 1%
    width 24%
    //background-color grey