.com-top-swiper-fade
  height 430px
  position relative
  overflow: hidden
  .bg-image
    height: 100%;
    width 100%
    position absolute
    background-size cover
    background-position: center;
    filter: blur(10px);
    overflow: hidden
    top: -25px;
    left: -25px;
    padding: 50px;

  .web-wrap
    height 100%
  .swiper-container
    width: 100%;
    height: 100%;

  .swiper-button-white
    &:focus
      outline none