.com-filter-select
  display flex
  align-items center

  .title-span
    white-space nowrap
  .myselect
    max-width: 25em;
    &.novalue
      color: #aaaaaa;
    .fake-placeholder
      color: #aaaaaa;
    option
      color: black;