.com-tab-fields{
    .oprations{
        background: #fbfbf8;
        padding: 0.2rem 1rem;
        margin: 0.2rem 0;
        border-bottom: 1px solid #cccccc;
    }

    //.fields-area{
    //    background-color: #F5F5F5;
    //    padding: 20px 30px;
    //    position: relative;
    //    border: 1px solid #D9D9D9;
    //}
    .table-fields{
        border:1px solid #e3e3e3;
        border-radius: 4px;
        margin:5px 15px;
        padding: 10px 30px;
    }
}
.fields-group-title{
    padding: 2rem 0 .3rem 2rem;
    font-weight: 700;
    //margin: -20px -29px 0 -29px;
    //background-color: #ededed;
}

