.com-tab-fields{
    .oprations{
        background: #fbfbf8;
        padding: 0.2rem 1rem;
        margin: 0.2rem 0;
    }

    //.fields-area{
    //    background-color: #F5F5F5;
    //    padding: 20px 30px;
    //    position: relative;
    //    border: 1px solid #D9D9D9;
    //}
}
.fields-group-title{
    padding: 1.5rem 1rem .5rem 1rem;
    //margin: -20px -29px 0 -29px;
    font-weight: 500;
    //background-color: #ededed;
}

