.pop-moible-win{
  .mint-popup{
    background:none;
  }
}
.pop-slide-win{

  .content-wrap{
    //border-left: 1px solid grey;
    -moz-box-shadow:-1px 0px 1px #bbbbbb; -webkit-box-shadow:-1px 0px 1px #b2b2b2; box-shadow:-1px 0px 1px #9a9a9a;
  }

  .mint-popup{
    height: 100vh;
    width: 100vw;
  }
  .v-modal{
    opacity: 0;
  }

  //.com-table-panel{
  //  padding: 10px;
  //}

  .weui-mask{
    z-index: 3000;
  }
}

