
.com-fields-panel{
    padding: 2rem;
    //border: 1px solid #e1e1e1;
    border-radius: 0.3rem;
    background-color: white;


    &.mobile{
        width:90vw;
        padding: 2rem 1rem;
        border: 1px solid #696969;
        border-radius: 0.3rem;
        background-color: white;
    }

}

//@media (max-width: 750px) {
//    .com-fields-panel{
//        width:90vw;
//        padding: 2rem 1rem;
//        border: 1px solid #e1e1e1;
//        border-radius: 0.3rem;
//        background-color: white;
//
//    }
//}


