.com-field-multi-select2
  select
    min-width 40rem

.select2-selection--single .select2-selection__rendered
  position relative
  top -2px

.select2-container--default
  li.select2-results__option[aria-selected=true]
    display none
.select2-container--default .select2-selection--multiple .select2-selection__rendered li.select2-selection__choice
  background-color #f5f5f5

.select2-container--default .select2-selection--multiple .select2-selection__rendered li
  color black


.select2-selection__choice__remove
  float right

.select2-search.select2-search--inline
  width 40px