{% extends "wx/base.html" %}
{% load static %}
{% load jsonify %}


{% block page_content %}
<script src="{% static 'js/fields_mb.pack.js' %}"></script>
<script type="text/javascript">

    tabs={{ tabs | jsonify | default:'[]' }}
    crt_tab = '{{ crt_tab | default:'null' }}'
    crt_tab = crt_tab || tabs[0].name

    $(function(){
        new Vue({
            el:'#there',
            data:{
                tabs:tabs,
                crt_tab:crt_tab,
                page_label:page_label,
            },
            mixins:[field_fun],

            mounted:function(){

            },
            methods:{
                item_link:function(name){
                    if(name!=this.crt_tab){
                        return ex.appendSearch({_tab:name})
                    }else{
                        return 'javascript:;'
                    }
                }
            }
        })
    })
</script>

<div id="there" v-cloak>


    <div style="text-align: center;margin-top: 1em;">
        <div class="btn-group" role="group" aria-label="..." >
            <a type="button" :class="['btn btn-default',{'btn-info':crt_tab==tab.name}]" v-for="tab in tabs" :href="item_link(tab.name)" v-text="tab.label">Left</a>
        </div>
    </div>


    <div class="weui-cells__title" v-text="page_label">编辑内容</div>
    <!--<el-form ref="form"  label-width="80px" class="el-form-pad">-->
    <div class="form-pad">
        <field v-for="head in kw.heads" :name="head.name" :kw="kw"></field>
    </div>

    <!--</el-form>-->



    <div style="text-align: center;padding: 3em 0 8em 0;">
        <a type="button" class="btn btn-success btn-sm" href="javascript:"  @click="submit()" style="width: 16em;">确定</a>
    </div>


</div>

<style type="text/css">
    /*.field.weui-cell::before{*/
    /*content: " ";*/
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    /*right: 0;*/
    /*height: 1px;*/
    /*border-top: 1px solid #d9d9d9;*/
    /*color: #d9d9d9;*/
    /*-webkit-transform-origin: 0 0;*/
    /*transform-origin: 0 0;*/
    /*-webkit-transform: scaleY(.5);*/
    /*transform: scaleY(.5);*/
    /*left: 15px;*/
    /*}*/
</style>

{% endblock %}