
.com-fields-table-block
  &.field-panel
    background-color: #FAFAFA;
    padding: 5px 20px;
    position: relative;
    border: 1px solid #f6f6f6;
    td
      padding: 8px 5px;
      position: relative;
      .field-label
        text-align: right;
  .req_star
    top: 6px;
    right: 0;
    color:red;

  .field-input
    position relative
    .help-text
      position: absolute;
      right: -3em;
      top: 50%;
      transform: translateY(-50%);