
.com-fields-table-block
  &.field-panel
    background-color: #FAFAFA;
    padding: 5px 20px;
    position: relative;
    border: 1px solid #f6f6f6;
    td
      padding: 8px 5px;
      position: relative;
      .field-label
        text-align: right;

  .field-label
    display flex

    .label-content
      min-width 4em
    .req_star
      position relative
      color:red;

  .field-input
      position relative
      display flex
      .help-text
          display inline-block
          padding 0 3px
          position relative
          top 6px

      //vertical-align center
      //position: absolute;
      //right: -3em;
      //top: 50%;
      //transform: translateY(-50%);

      span.readonly-info
          background-color #F5F5F5
          border 1px solid #EBEBEB
          color  grey
          height:30px;
          display:inline-block;
          padding:3px;
