.com-field-multi-picture
  .van-cell__title
    max-width 90px
  .van-cell__value
    text-align left
  .add-btn
    width: 60px;
    height: 60px;
    position: relative;
    display: inline-block;
    margin 10px
  .img-wrap
    vertical-align top
    display inline-block
    width 60px
    height 60px
    position relative
    margin 10px
    img
      height 100%
      width 100%
    .close
      position absolute
      top 0
      right 1rem
