.com-field-picture
  .picture-panel
    position relative
    border 2px dashed #dddddd
    border-radius .1rem
    .choose-btn
      color #46a3c8
      border 1px solid #46a3c8
      border-radius .1rem
      padding .2rem .5rem
  .picture-content
    width 4rem;
    height 2.2rem;
    background-size contain
    background-position center
    background-repeat no-repeat

  .van-cell__title
    max-width 90px
  .van-cell__value
    text-align left
    img
      max-width 5rem
      max-height 2rem