.com-field-tree-shower
  .cube-scroll-wrapper
    height calc( 100vh - 2rem )
  .path
    background-color #f3f3f3
    padding .1rem
    border-bottom 1px solid #dddddd
  .parent-node
    display inline-block
    font-size .36rem
    padding .2rem
