{% extends "wx/table.html" %}

{% block item_view %}
<div v-for="row in rows">
    <img :src="row.head" alt="" style="width: 3em;"/>
    <span v-text="row.baseinfo"></span>
</div>

<!--<div class="weui-cells">-->
    <!--<a class="weui-cell weui-cell_access" href="javascript:;" v-for="row in rows">-->
        <!--<div class="weui-cell__hd" style="padding: 0 1em 0 0.3em;">-->
            <!--&lt;!&ndash;<input type="checkbox" v-model="selected" :value="row.pk"  />&ndash;&gt;-->
            <!--<com-check-box v-model="selected" :value="row.pk"></com-check-box>-->
        <!--</div>-->
        <!--<div class="weui-cell__bd" @click="ge_edit(row.pk)">-->
            <!--<p v-text="row._label"></p>-->
        <!--</div>-->
        <!--<div class="weui-cell__ft">-->
        <!--</div>-->
    <!--</a>-->
<!--</div>-->

{% endblock%}