{% extends "f7/base.html" %}
{% load static %}
{% load jsonify %}


{% block extra_head %}
    {% include 'f7/com/popup_page.html' %}
    {% include 'f7/com/table_time_group.html' %}
{% endblock %}

{% block page_content %}

{% include 'organize/com_department_wx.html' %}
{% include 'organize/com_depart_btn.html' %}
{% include 'wx/com/table_filter_wx.html' %}
{% include 'organize/com/active_department.html' %}

{% include 'work/com/workrecord_fast_display.html' %}

<script type="text/javascript">


    ff.pop_menu(function(){
        var buttons = [
            {
                text: '下属部门',
                onClick: function () {
                    active_depart.open();
                }
            },
            {
                text: '排序过滤',
                onClick: function () {
                    filter.open()
                }
            },
        ];
        if(table.help_url){
            buttons.push({
                text: '帮助',
                onClick: function () {
                    table.goto(help_url);
                }
            })
        }

        buttons.push({
            text: '取消',
            color: 'red',
        })
        ff.app.actions(buttons)
    })


    main_logic={
        el:'#there',
        data:{

            ln:ln,
            page_label:page_label,
            show_menu:false,
        },
        mixins:[table_fun,table_time_group],
        mounted:function(){
            var self=this
//            Vue.nextTick(function(){
//                self.$refs.scroller.refresh()
//            })

//            bus.$on('menu_click',function(){
//                self.show_menu=true
//            })
        },
        methods:{
            get_group_key:function(row){
              return row.create_time.slice(0,10)
            },
            ge_edit:function(pk){
                var url=ex.template('{engine_url}/{page_name}.edit',{engine_url:engine_url,page_name:page_name})
                search_args.pk=pk
                url = ex.appendSearch(url,search_args)
                setTimeout(function(){
                    ff.load(url,page_name+'_edit')
                },300)

            },
            get_row_img:function(row){
                return  row.desp_img || row.work_desp_img || '/static/res/image/person-work.png'
            },
            open_image:function(url){
                ff.open_image(url)
            },


        }
    }


    $(function(){
        table= new Vue(main_logic)
    })
</script>


<div id="there" v-cloak class="flex-grow" style="position: relative">


    <!--<button @click="switch_to('search')">过滤</button>-->

    <scroll-loader :can_load="has_next_page" @load_more="load_next_page()">
        <div v-for="sub_rows in grouped_rows">
            <h3 style="text-align: center;" v-text="norm_date( sub_rows.key)"></h3>

            <div class="weui-cells" >
                <div class="weui-cell weui-cell_access flex " v-for="row in sub_rows.list" >
                    <div class="weui-cell__bd"  style="position: relative;">

                        <!--<img style="position:absolute;right:1em;top:-0.4em;width: 1.5em;height: 1.5em;border-radius: 1em;" :src="row.emp.head" alt=""/>-->
                        <div v-if="row.status=='pass'" style="position:absolute;right:1em;top:-0.4em;color: green;">
                            <i class="fa fa-check" aria-hidden="true"></i>
                        </div>

                        <div class="flex">
                            <div @click="open_image(get_row_img(row))">
                                <img style="width: 3em;height: 3em" :src="get_row_img(row)" alt=""/>
                            </div>
                            <div style="padding: 0 1em;" @click="ge_edit(row.pk)" class="material-wave">

                                <workrecord_display :row="row"></workrecord_display>

                                <!--<table>-->
                                    <!--<tr v-for="info in ['work','finish_time','count','depart']" style="padding: 0.2em 0;">-->
                                        <!--<td style="text-align: right;padding-right:0.5em;" v-text="ex.findone(heads,{name:info}).label"></td>-->
                                        <!--<td v-text="row[info]"></td>-->
                                    <!--</tr>-->

                                <!--</table>-->
                            </div>

                        </div>

                        <div style="margin-top:1.4em;text-align: right;font-size: 0.6em;color: #bebdbc">

                            <span v-text="row.emp.name"></span>
                            <span style="margin: 0 0.3em">于</span>
                            <span v-text="norm_time(row.create_time)"></span>
                            <span style="margin: 0 0.3em">提交</span>

                        </div>

                    </div>
                    <div class="weui-cell__ft">
                    </div>

                </div>
            </div>
        </div>
    </scroll-loader>



    <!--<transition name="fade">-->
        <!--<modal id="pop-menu" v-show="show_menu" @click.native="show_menu=false">-->

            <!--<div class="weui-actionsheet__menu up-menu" @click.stop="" style="width: 80vw;">-->
                <!--&lt;!&ndash;<div class="weui-actionsheet__cell" @click="add_new();show_menu=false" v-if="can_add">新建</div>&ndash;&gt;-->
                <!--<div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_active-depart'});show_menu=false">下属部门</div>-->
                <!--<div class="weui-actionsheet__cell" @click="del_item();is_show_menu=false" v-if="can_del &&selected.length>0">删除选中</div>-->
                <!--<div class="weui-actionsheet__cell" @click="ln.pushState({crt_view:'show_filter'});show_menu=false" v-if="can_search">排序过滤</div>-->
                <!--<div class="weui-actionsheet__cell" v-if="help_url" @click="goto(help_url)">帮助</div>-->
            <!--</div>-->
            <!--<div class="weui-actionsheet__cell">-->
                <!--<div class="weui-actionsheet__cell" @click="show_menu=false">取消</div>-->
            <!--</div>-->

        <!--</modal>-->
    <!--</transition>-->

</div>


{% endblock %}