.com-slide-head{
  height: .8rem;
  font-size:.3rem;
  /*flex-shrink:0;*/
  /*background-color: #393738;*/
  /*color: white;*/
  position: relative;
  border-bottom:1px solid #d5d5d5;

  .go-back{
    left: .3rem;
    padding: .1rem
  }
}