{% extends "jb_admin/table.html" %}


{% block table_content %}
<div style="position: absolute;top:0;left:0;bottom: 0;right:0;">
    <el-table class="table" ref="e_table"
              :data="rows"
              border
              show-summary
              :fit="false"
              :stripe="true"
              size="mini"
              @sort-change="sortChange($event)"
              @selection-change="handleSelectionChange"
              :summary-method="getSum"
              height="100%"
              style="width: 100%">
        <el-table-column
                type="selection"
                width="55">
        </el-table-column>

        <template  v-for="head in heads">

            <el-table-column v-if="head.editor"
                             :show-overflow-tooltip="is_show_tooltip(head) "
                             :label="head.label"
                             :prop="head.name.toString()"
                             :sortable="is_sort(head)"
                             :width="head.width">
                <template slot-scope="scope">
                    <component :is="head.editor"
                               @on-custom-comp="on_td_event($event)"
                               :row-data="scope.row" :field="head.name" :index="scope.$index">
                    </component>

                </template>

            </el-table-column>

            <el-table-column v-else
                             :show-overflow-tooltip="is_show_tooltip(head) "
                             :prop="head.name.toString()"
                             :label="head.label"
                             :sortable="is_sort(head)"
                             :width="head.width">
            </el-table-column>

        </template>

    </el-table>

</div>
{% endblock %}