<!doctype html>
{% load static %}
{% load jsonify %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>{{ page_label | default:''}}</title>


    <script src="{{ js_config.js_lib.jquery }}"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.font_awesome }}">
    <script src="{{ js_config.js_lib.vuejs }}"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.bootstrap_css }}">
    <script src="{{ js_config.js_lib.bootstrap }}"></script>

    <script src="{{ js_config.js_lib.nice_validator }}"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.nice_validator_css }}">

    <!--<link rel="stylesheet" href="{% static 'lib/weui.min.css' %}">-->
    <!--<script src="{% static 'lib/weui.min.js' %}"></script>-->

    <script src="{{ js_config.js_lib.exfun }}"></script>

    <script src='{% static "js/i18n.js" %}'></script>
    <script src="{{ js_config.js_lib.director }}"></script>
    <script src="{{ js_config.js_lib.jb_admin_pack_js }}"></script>
    <script src="{{ js_config.js_lib.md5_js }}"></script>


    <!--<script src="{% static 'js/uis_mb.pack.js?t=' %}{{ js_stamp.uis_mb_pack_js }}"></script>-->
    <!--<script src="{% static 'js/fields_mb.pack.js?t=' %}{{ js_stamp.fields_mb_pack_js}}"></script>-->
    <!--<script src="{% static 'js/table_mb.pack.js?t=' %}{{ js_stamp.table_mb_pack_js }}"></script>-->

    <!--<script src="{% static 'js/wave.js?t=' %}{{ stamp.table_mb_pack_js }}"></script>-->

    <!--<script src="{% static 'lib/moment2.17.1.min.js' %}"></script>-->
    <!--<script src="{% static 'js/director_f7.pack.js?t=' %}{{ js_stamp.director_f7_pack_js}}"></script>-->

    {% include 'director/reverse.html' %}

    <script>

        is_mobile=true

        manager={
            init:function(){
//                ff.hide_load(200)
                ff.init_page()
//                ff.show_nav()
            }
        }
    </script>

    <script type="text/javascript">
        //        var strategies = Vue.config.optionMergeStrategies
        //        strategies.myOption = strategies.methods

        menu = {{ menu | jsonify }}

        var org_height=$(window).height()

        $(function(){
            $(window).resize(function(){
                var delta = org_height - $(window).height()
                if(Math.abs(delta)  > 200){
                    $(".footer.nav").hide()
                }else{
                    $(".footer.nav").show()
                }

            })

        })

        ex.each(menu,function(act){
            if(act.url==location.pathname){
                $('title').html(act.label)
            }
        })

        $(function(){
//            $('.weui-tabbar.nav a').on('touchstart',function(){
//                $(this).addClass('fake-active')
//            })
//            $('.weui-tabbar.nav a').on('touchend',function(){
//                var self=this
//                setTimeout(function(){
//                    $(self).removeClass('fake-active')
//                },500)
//
//            })
//            $('.weui-tabbar.nav a').on('click',function(){
//                $(this).addClass('fake-active')
//
//            })
            setTimeout(function(){
                $('body').removeClass('start')
                $('body').addClass('ready')
            })



        })


    </script>

    {% block extra_head %}

    {% endblock %}
</head>
<body class="start">
<!-- App root element -->
<div id="app">
    <!-- Statusbar overlay -->
    <div class="statusbar"></div>

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
        <!-- Initial Page, "data-name" contains page name -->
        {% block page-view %}
        <div data-name="home" class="page">

            <!-- Top Navbar -->
            <!--<div class="navbar">-->
            <!--<div class="navbar-inner">-->
            <!--<div class="title">Awesome App</div>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Toolbar -->
            <!--<div class="toolbar">-->
            <!--<div class="toolbar-inner">-->
            <!--&lt;!&ndash; Toolbar links &ndash;&gt;-->
            <!--<a href="#" class="link">Link 1</a>-->
            <!--<a href="#" class="link">Link 2</a>-->
            <!--</div>-->
            <!--</div>-->

            <!-- Scrollable page content -->
            <div class="page-content">
                hello world
            </div>

        </div>

        {% endblock %}

    </div>
</div>


{% block extra_body %}
{% endblock %}

</body>

<script src="https://cdn.bootcss.com/framework7/3.3.2/js/framework7.min.js"></script>
<link href="https://cdn.bootcss.com/framework7/3.3.2/css/framework7.ios.min.css" rel="stylesheet">

<!--<script type="text/javascript" src="/static/lib/framework7/framework7.min.js"></script>-->
<!--<link rel="stylesheet" href="/static/lib/framework7/framework7.ios.min.css">-->
<!--<link rel="stylesheet" href="/static/lib/framework7/framework7.ios.colors.min.css">-->

<script>
//    $(function(){
//        f7_app = new Framework7({
//            fastClicks:false,
//        });
//    })

obj=''

var app = new Framework7({
    // App root element
    root: '#app',
    // App Name
    name: 'My App',
    // App id
    id: 'com.myapp.test',
    // Enable swipe panel
    panel: {
        swipe: 'left',
    },
    on: {
        // each object key means same name event handler
        pageInit: function (page) {
//        pageAfterin:function(page){
            // do something on page init
            if(page.direction=='forward' && page.route.name=='f7_page'){
                setTimeout(function(){
                    new Vue({
                        el:page.el,
                        data:ex.copy(gb_params)
                    })
                },50)

            }
            console.log('bbbb')
        },
    },
    // Add default routes
    routes: [
        {
            path: '/about/',
            url: '/static/f7/about.html',
        },
        {
            name: 'f7_page',
            path:'/f7_page/',
            url: '/static/f7/f7_page.html',
        }
    ],
    // ... other parameters
});

var mainView = app.views.create('.view-main');

window.onpopstate = function (event) {
    if(event.state.is_f7_router){
        mainView.router.back()
    }

};

    function f7_open(editor_and_ctx){
        history.replaceState({is_f7_router:true},'')
        bb= mainView.router.navigate({name:'f7_page'})
        gb_params = editor_and_ctx
        history.pushState({},'')
    }

</script>


{% block extra_script %}
{% endblock %}

</html>
