
.filter-item{
  margin:auto 0.3em;
  max-width: 300px;
}
//.date-filter{
//  margin: 0 1em;
//}

.com-filter{
  //align-items:flex-start;
  flex-wrap:wrap;
  //justify-content:space-between;
}

.row-filter{
  .bootstrap-select{
    min-width: 10em;
  }
}
