<!DOCTYPE html>
{% load static %}
{% load jsonify %}
{% load ctxvalue %}
{% load rpdot %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    {% block head-content %}
    <title></title>
    {% endblock %}
    <style>
        .bar{
            background: #dd453b;
        }

    </style>
    {% block head-script %}
    {% endblock %}
</head>

{% include 'mobile/reverse2.html' %}
<script>
    if(js_config.is_debug){
        Vue.config.devtools = true
    }

</script>

<body >
{% block page_body %}
<div>
    hello world
</div>
{% endblock %}


</body>

{% for lib in extra_js %}
<script src='{{ lib | ctxvalue:js_config.js_lib }}'></script>
{% endfor %}
{% for lib in extra_css %}
<link  href='{{ lib | ctxvalue:js_config.js_lib }}' rel="stylesheet">
{% endfor %}

<script>
    init_express={{ init_express | jsonify }}
    if(init_express){
        ex.eval(init_express)
    }
</script>
</html>