<!DOCTYPE html>
{% load static %}
{% load jsonify %}
{% load rpdot %}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <script src="{{ js_config.js_lib.jquery }}"></script>
    <script src="{{ js_config.js_lib.md5 }}"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.font_awesome }}">
    <script src="{{ js_config.js_lib.vuejs }}"></script>
    <script src="{{ js_config.js_lib.nice_validator }}"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.nice_validator_css }}">

    <script src="{{ js_config.js_lib.exfun }}"></script>

    <script src="{{ js_config.js_lib.jb_admin }}"></script>

    <script src="{{ js_config.js_lib.layer }}"></script>

    <script src="{{ js_config.js_lib.mint_ui }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@1.6/lib/index.css">
    <script src="https://cdn.jsdelivr.net/npm/vant@1.6/lib/vant.min.js"></script>
    <link rel="stylesheet" href="{{ js_config.js_lib.mint_ui_css }}">
    <script src="{{ js_config.js_lib.mobile }}"></script>
    {% block head-content %}
        <title>标题</title>
    {% endblock %}
    <style>
        .bar{
            background: #dd453b;
        }

    </style>
    {% block head-script %}
    {% endblock %}
</head>


{% include 'director/reverse.html' %}
<script>
    if(js_config.is_debug){
        Vue.config.devtools = true
    }

</script>

<body >
{% block page_body %}
<div>
    hello world
</div>
{% endblock %}


</body>



{% for lib in extra_js %}
<script src='{{ lib }}'></script>
{% endfor %}
</html>