.com-field-multi-picture{
  .picture-panel{
    display: flex;
    align-items: center;
  }
    .img-wrap{
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        vertical-align: top;
        margin:10px;
    }
  .img-wrap  img{
      max-width:100%;
      max-height:100%;
    }
  .add-btn{
    margin:10px;
    .inn-btn{
      //background-color: #e2e2e2;
      background-color: #FBFDFF;
      border: 1px solid #a7bad2;
      border-radius: 6px;
      width: 40px;
      height: 40px;
      position: relative;
      color: #8C939D;
      transition: all .5s;
    }
      .inn-btn:hover{
          //background-color: #efefef;
          border: 1px solid #66B1FF;;
           background-color: rgba(102,177,255,0.3);
          cursor: pointer;
      }
  }
}

.layui-layer.img-shower{
    background-color: rgba(0,0,0,0.3) ;
}