.com-form-one{
    height: 100%;

    .oprations{
        padding: 5px 10px;
    }
    .oprations.bottom{
        text-align: right;
        border-top:1px solid #d7d7d7;
    }

    .table-fields{
        border:1px solid #efefef;
        background-color: #f8f8f8;
        //border-radius: 4px;
        margin:5px 15px;
        padding: 5px 30px;
    }
    .fields-group-title{
        margin: 10px 0;
    }

}