.com-field-list-ctn
  display flex

.field-panel.suit
  .form-group.field
    .field_input
      .com-field-list-ctn
        //input[type=text],input[type=number]
        //  width 10em
        .list-ctn-field
          position relative

          .msg-box.n-right
            left 0
            bottom 0
            transform: translateX(0);