.com-field-range
  display flex
  padding 0 0 10px 0

  .el-date-editor.el-input
    width auto

.field-panel.suit
  .form-group.field
    .field_input
      .com-field-range
        input[type=text],input[type=number]
          width 10em
        .range-field
          position relative

