.com-table-grid
  .middle-col
    text-align: center !important
  .btn-like-col
    .com-table-rich-span
      border-radius:3px;
      font-size:80%;
      display:inline-block;
      height: 16px;
      padding: 0 5px;
      line-height: 16px
      min-width 40px
      &.warning
        color:white;
        background-color: #f56d6d
      &.success
        color:white;
        background-color: #3db035
      &.primary
        color:white
        background-color #499cff