.com-tab-chart
  .box
    background-color #ecf0f5
  .statistic-panel,.chart-panel
    margin 20px
    padding 20px
    background-color white
    position relative
    .title-label
      position absolute
      top 5px
      left 5px

    .foot-item
      display: inline-block;
      margin: 2rem;
      width: 20rem;
      padding-bottom: 1rem;
      text-align: center;
      border-bottom: 1px solid #dadada;