{% extends "f7/wraper.html" %}
{% load static %}
{% load jsonify %}


{% block extra_script %}
<!--<div>-->
<!--<a href="/_f7_frame?name=iframe_sss&src=/wx/home.wx" class="item-link">sss</a>-->
<!--<a href="/_f7_frame?name=iframe_worklist&src=/wx/work.worklist.wx" class="item-link">worklist</a>-->


<!--</div>-->

<link rel="stylesheet" href="{% static 'lib/weui.min.css' %}">
<script src="{% static 'lib/jquery3.2.1.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'lib/font-awesome4.7/font-awesome4.7.min.css' %}">
<script src="{% static 'lib/vue2.3.2.js' %}"></script>
<script src="{% static 'js/fields_mb.pack.js' %}"></script>
<script type="text/javascript">
    function set_title(title){
        $('.navbar-on-center .center').html(title)
    }
    function iframe_load(url,name){
        var iframe_url='/_f7_iframe?name=iframe_'+name+'&src='+encodeURIComponent(url)
        mainView.router.loadPage(iframe_url)
    }
    function pop_menu(callback){
        $('.navbar-on-center .pop-menu').css('visibility','visible')
        if(callback){
            $('.navbar-on-center .pop-menu').click(callback)
        }
    }
    function back(callback){
        if(callback){
            callback($('.page-on-left iframe')[0].contentWindow)
        }
        mainView.router.back()


//        setTimeout(function(){
//            $('.page-on-center iframe')[0].contentWindow.location.reload()
//        },500)

    }


    menu = {{ menu | jsonify }}

    title_bar=false

        $(function(){
            new Vue({
                el:'#there',
                data:{
                    menu:menu,

                },

                methods:{
                }
            })
        })
</script>

<style type="text/css">
    .pad{
        background-color: white;
        margin-top: 20px;
    }
    .nav .fake-active>i,.nav .fake-active>p{
        color: green;

    }
     p.weui-tabbar__label{
         margin: 0.2em;
     }

</style>



{% endblock %}

{% block page_content %}


<div id="there">

    <div class="b-image">
    <img src="http://thumb.jfcdns.com/thumb/up/2015-2/201502041009207922590_225_260.jpg" width="100%"/>

    </div>


    <div class="pad">
    <div class="weui-grids">
        <a :href="'/_f7_iframe?name=iframe_'+act.name+'&src='+act.url" class="weui-grid ajax" v-for="act in menu">
            <div class="weui-grid__icon">
                <span v-html="act.icon"></span>
            </div>
            <p class="weui-grid__label" v-text="act.label"></p>
        </a>
    </div>
    </div>


</div>


{% endblock %}

{% block tool_bar %}

<div class="toolbar">
    <div class="weui-tabbar nav footer">
        <a id="help-page" href="/f7/help.f7" class="weui-tabbar__item external">
            <i class="fa fa-info-circle weui-tabbar__icon" aria-hidden="true" ></i>
            <p class="weui-tabbar__label">信息</p>
        </a>
        <a id="work-panel" href="/f7/home.f7" class="weui-tabbar__item weui-bar__item_on external">
            <i class="fa fa-th weui-tabbar__icon" aria-hidden="true" ></i>
            <p class="weui-tabbar__label">工作</p>
        </a>
        <a id="employee-center" href="/f7/organize.employeeself.f7" class="weui-tabbar__item external">
            <i class="fa fa-user-circle weui-tabbar__icon" aria-hidden="true" ></i>
            <p class="weui-tabbar__label">我的信息</p>
        </a>

    </div>
 </div>
{% endblock %}

