.com-ti-article
  padding 20px
  min-height 600px
  border 1px solid #F2F2F2
  background-color white
  .title
    text-align center
    font-size 24px
    font-weight 500
    margin 20px 0 10px 0

  img
    max-width 100%
    height auto

  .article-content
    line-height 2.2rem