.live-swip-tab
  .live-swip-tab-content
    position: relative;
    height: calc( var(--app-height) - 90px )

  //.cube-tab-bar
  //  justify-content: left
  //  width auto
  //  overflow auto
  //
  //  .cube-tab
  //    flex 0 0
  //    padding .2rem .4rem
  //    white-space nowrap
  //    box-sizing border-box