.com-live-list-page
  .van-nav-bar
    position: fixed
    top 0
    left 0
    right 0

  .footer
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: .82rem;
    background-color white

  .van-pagination__page-desc
    position relative
    left -.6rem
    flex 2
  .total-count
    color grey
    position: absolute
    top:.26rem;
    right: 2.7rem;
  //.van-pagination__item
  //  width 1rem;
  //  flex-grow 0;